//Las especificaciones se deben realizar arriba del import
$cafe: #743c20;
$cafeClaro: #92624a;

//asignar/cambiar la paleta de colores de bootstrap
$primary: $cafe;
$secondary: $cafeClaro;

//Tipografía a utilizar
$display-font-weight: 900;
$heading-font-weight: 700;


@import '../../node_modules/bootstrap/scss/bootstrap.scss';